<section data-ng-controller="ModulesController" data-ng-init="isOpen=true" class="admin-modules">
    <accordion close-others="oneAtATime">
        <accordion-group data-ng-repeat="(module, info) in modules" heading="{{module}}" is-open="isOpen">
            <div data-ng-repeat="(key, value) in info" data-ng-if="key !== 'settings'">
                {{key}} : {{value}}
            </div>
            <accordion close-others="oneAtATime">
                <accordion-group heading="settings" is-open="isOpen">
                    <div data-ng-repeat="(key, value) in info.settings">
                        <form action="" class="form-horizontal" role="form" data-ng-if="value.options.editable">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{key}} :</label>
                                <widget class="col-sm-10" widget-type="{{value.widget}}" setting-info="value" change-value="update(module, value.value)"></widget>
                            </div>
                        </form>
                    </div>
                </accordion-group>
            </accordion>
        </accordion-group>
    </accordion>
</section>