.admin-menu .col-md-1, .admin-menu .col-md-2 {
    background-color: #176583;
    padding-right: 0;
    padding-left: 0;
    height: 1000px;
    margin-right: 20px;
}
.admin-menu .col-md-1 {
    width: 56px;
}
.content {
    margin-top: 51px !important;
}
.admin-menu .col-md-1 ul li a, .admin-menu .col-md-2 ul li a {
    color: #74c0da;
}
.admin-menu .col-md-1 ul li a:hover, .admin-menu .col-md-2 ul li a:hover {
    background-color: #103c4d;
    padding: 10px 15px;
}