.admin-menu {
    position: fixed;
    background-color: #176583;
    height: 100%;
    top: 51px;
    width: 60px;
}
.admin-menu #stable:hover .showbox {
    width: 190px;
    font-size: inherit;
    background-color: #103c4d;
    padding-left: 10px;
}
.admin-menu #stable:hover {
    background-color: #103c4d;
}
.admin-menu #stable a {
    border-bottom: solid 1px #217D99;
}
.admin-menu #stable a:hover {
    background-color: #103c4d;
}
.admin-menu #stable .showbox {
    position: absolute;
    top: 0;
    width: 0;
    left: 60px;
    line-height: 44px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    font-size: 0;
    color: #89D7F3;
    cursor: pointer;
}
.admin-modules .panel-default > .panel-heading {
    cursor: pointer;
}
tr.disabled {
    pointer-events: none;
    opacity: 0.4;
}
span.editable-wrapper input {
    width: 80%;
}